/*
Theme Name:       SlickBiz - Bootstrap 4 Template
Author:           UIdeck
Author URI:       http://uideck.com
Text Domain:      UIdeck
Domain Path:      /languages/
*/

/*
Theme Revision:   Maria Tortosa
*/

/* ==========================================================================
   IMPORT GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

/* ==========================================================================
   GENERAL
   ========================================================================== */
body {
  font-family: "Rubik", sans-serif;
  color: #a0a6ad;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #5E859C;
  line-height: 26px;
  margin-bottom: 0;
}

u
{
  text-decoration: underline;
  text-decoration-color: #68CF0D;
}

a:hover,
a:focus {
  color: #000;
}

a {
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #151948;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #3c9cfd !important;
}

/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 130px 0px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

.section-header {
  color: #fff;
  margin: 0 30% 50px 30%;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 35px;
  margin-bottom: 12px;
  font-weight: 600;
  position: relative;
  line-height: 30px;
}

.section-header .desc-text p {
  font-size: 18px;
  color: #5e859c;
  line-height: 26px;
  margin-bottom: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  font-family: "Poppons", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-color: #68cf0d;
  color:#fff;
  position: relative;
  z-index: 1;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 160px;
  height: 50px;
  padding: 14px 15px;
}

.btn-common:hover {
  color: #fff;
  transform: translateY(-2px);
}

.btn-pe {
  background-color: #27E2BB;
  position: relative;
  z-index: 1;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 160px;
  height: 50px;
  padding: 14px 15px;
}

.btn-pe:hover {
  color: #fff;
  transform: translateY(-2px);
}

.btn-border {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: transparent;
  border-color: #68cf0d;
  color: #68cf0d;
  width: 160px;
  height: 50px;
  padding: 14px 15px;
}

.btn-border:hover {
  color:#fff;
  transform: translateY(-2px);
}

.clear {
  clear: both;
}

.mt {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-70 {
  padding-top: 70px;
}

.mb-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-70 {
  padding-left: 70px;
}

.pr-70 {
  padding-right: 70px;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #3c9cfd;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background: #68CF0D;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  z-index: 9999999;
}

.back-to-top i {
  color: #fff;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.logo-menu a {
  font-size: 20px;
  color: #fff;
}

.menu-bg {
  background: linear-gradient(95deg, #2250bd 40%, #478dff 100%) !important;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-bg .menu-button {
  top: 0;
}

.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #3c9cfd;
}

.menu-bg .logo-menu a {
  color: #3c9cfd;
}

.menu-bg .navbar-nav .nav-link {
  color: #ffffff !important;
}

.menu-bg .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.menu-bg .navbar-nav .active {
  color: #ffffff !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  padding: 8px 0px;
  margin-left: 26px;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: 500;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-brand {
  color: #fff;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #ffffff;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #ffffff;
}

.navbar-expand-md .navbar-toggler { 
  cursor: pointer;
  float: right;
}

.navbar-expand-md .navbar-toggler i {
  color: #fff !important;
}

.navbar-expand-md .navbar-toggler:focus {
  outline: none;
}

/* ==========================================================================
   Hero Area
   ========================================================================== */
.hero-area {
  position: relative;
}
.hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #2250bd;
  background: linear-gradient(95deg, #2250bd 40%, #478dff 100%);
  -webkit-transform: skewY(-12deg);
  transform: skewY(-12deg);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  z-index: -12;
}
.hero-area .contents {
  padding: 220px 0;
}
.hero-area .contents h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 20px;
}
.hero-area .contents p {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.hero-area .contents .btn {
  margin-top: 40px;
  margin-right: 20px;
  text-transform: uppercase;
  width: 180px;
  height: 50px;
  padding: 15px 15px;
}
.hero-area .contents .btn-border {
  /*border: 1px solid #fff;*/
  color: #68cf0d !important;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 180px;
  height: 50px;
  padding: 15px 15px;
  background: #fff;
}
.hero-area .contents .btn-border:hover {
  background: #fff;
  color: #68cf0d;
}
.hero-area .intro-img {
  padding: 180px 0 0px;
}
.hero-area .intro-img img {
  display: block;
  height: auto;
  max-width: 70%;
}

/* ==========================================================================
   Featured Section
   ========================================================================== */
#feat .feat-item {
  padding: 60px 30px;
  border: 1px solid #ddd;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#feat .feat-item:hover {
  border: 1px solid #68CF0D;
  box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#feat .feat-item .icon {
  background: linear-gradient(95deg, #2250bd 40%, #478dff 100%);
  width: 110px;
  height: 110px;
  margin: 0px auto;
  margin-bottom: 0px;
  text-align: center;
  display: block;
  border-radius: 50%;
  position: relative;
  margin-bottom: 25px;
}
#feat .feat-item .icon i {
  font-size: 40px;
  color: #478dff;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}
#feat .feat-item h4 {
  font-size: 20px;
  font-weight: 600;
  color: #151948;
  margin-bottom: 15px;
}
#feat .feat-item p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #5e859c;
}

/* ==========================================================================
   About Section 
   ========================================================================== */
.about {
  padding-top: 30px;
  padding-bottom: 100px;
}
.about .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}
.about .about-item-info {
  margin-top: 60px;
}
.about .about-item-info h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 25px;
}
.about .about-item-info p {
  font-size: 16px;
  margin-bottom: 20px;
}
.about-item-img {
  width: 100%;
}

/* ==========================================================================
   Services Section
   ========================================================================== */
#services {
  background: #f9f9f9;
  padding: 5rem 0px 5rem 0px;
}

#services .services-item {
  padding: 30px;
  background: #fff;
  overflow: hidden;
  border-left: 5px solid #68CF0D;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#services .services-item:hover {
  box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: translateY(-2px);
}

#services .services-item .services-icon {
  background: transparent;
  width: 100px;
  height: 100px;
  margin: 0px auto;
  margin-bottom: 0px;
  text-align: center;
  display: block;
  border-radius: 50%;
  position: relative;
  border: 3px solid #68CF0D;
  margin-bottom: 25px;
}

#services .services-item .services-icon i {
  font-size: 40px;
  color: #68CF0D;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
}
#services .services-item h4 {
  font-size: 20px;
  font-weight: 600;
  color: #151948;
  margin-bottom: 15px;
}
#services .services-item p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #5e859c;
}

#services .services-item:hover .services-icon {
  background: #68CF0D;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#services .services-item:hover .services-icon i {
  color: #fff;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

/* ==========================================================================
   Software section
   ========================================================================== */
#software {
  background: linear-gradient(95deg, #2250bd 40%, #478dff 100%);
  padding: 5rem 0px 5rem 0px;
}

#software .software-items {
  position: relative;
}

#software .software-items img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#software .software-items p {
  color:#fff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

#software .software-items:hover {
  -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform: translateY(-2px);
}

#software .software-text h2 {
  color: #fff;
}
#software .software-text p {
  color: #fff;
}

/* ==========================================================================
   Project section
   ========================================================================== */
#project {
  background:white;
  padding: 5rem 0px 5rem 0px;
}

#project .single-project-container {
  background-color: #212929;
  margin: 0 0 0 0;
}

#project .container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}
#project .project-item-info {
  margin-top: 100px;
}

#project .project-item-info img {
  width:350px;
  margin-left: -15px;
}
#project .project-item-info p {
  color: #fff;
  font-size: 16px;
  margin-right: 30px;
}

/* ==========================================================================
   Team section
   ========================================================================== */
#team {
  background: #f9f9f9;
  padding: 5rem 0px 5rem 0px;
}

#team .single-team {
  border: 1px solid #ddd;
  background: #fff;
  position: relative;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#team .single-team img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#team .single-team:hover {
  box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

#team .single-team .team-details {
  padding: 20px 0px 30px 0px;
  position: relative;
  min-height: 220px;
}

#team .single-team .team-details h5 {
  font-size: 20px;
  font-weight: 600;
  display: block;
}

#team .single-team .team-details p {
  font-size: 16px;
  color: #5e859c;
  margin-bottom: 25px;
}

/* ==========================================================================
   Collaborators section
   ========================================================================== */
#collaborations {
  padding: 5rem 0px 5rem 0px;
}
#collaborations .single-collaborations {
  position: relative;
  -moz-transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
#collaborations .single-collaborations img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#collaborations .single-collaborations:hover {
  transform: translateY(-4px);
}

/* ==========================================================================
   Contact section
   ========================================================================== */
#contact {
  padding: 5rem 0px 5rem 0px;
}
#contact form#contactForm .form-group {
  margin-bottom: 30px;
}

#contact form#contactForm input[type="text"],
#contact form#contactForm input[type="email"] {
  min-height: 52px;
  padding: 0px 0 0 28px;
  font-size: 16px;
  color: #5e859c;
}

#contact form#contactForm textarea {
  padding: 15px 0 0 28px;
  font-size: 16px;
  color: #5e859c;
}

#contact form#contactForm .form-control:focus {
  border: 1px solid #68CF0D;
  outline: none;
  box-shadow: none;
  background: #e5fff3;
}

/* ==========================================================================
   Footer section
   ========================================================================== */
#footer-Content {
  padding-top: 30px;
  padding-bottom: 20px;
  background: linear-gradient(95deg, #2250bd 40%, #478dff 100%);
}

#footer-Content .footer-logo img {
  padding-top: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding-top: 10px;
  padding-bottom: 20px;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoTwitter:hover {
  background-color: #00acee;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoTwitter:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}