/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .hero-area .overlay :nth-child(1) {
    height: 294px !important; }
  .hero-area .contents {
    padding: 0  0 300px; }
  #feat .feat-item  {
    min-height: 400px;}
  #services .services-item {
    min-height: 400px;} 
  #software .software-items img {
    max-width: 80%; }
}

/* Tablets and IPads ----------- */
@media only screen and (max-width: 1223px) {
  .navbar-brand img {
    width: 80%; }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 12px 5px;
    font-size: 12px;
    margin-left: 7px; }
  .hero-area .overlay :nth-child(1) {
    height: 295px !important; }
  .hero-area .contents {
    padding: 0  0 150px; }
  .hero-area .contents h2 {
    font-size: 38px; }
  .section-header {
    margin: 0 10% 50px 10%; }
  #feat .feat-item h4 {
      font-size: 16px; }
  #feat .feat-item  {
    height: 300px;
    margin-bottom: 30px; }
  #services .services-item {
    height: 300px;
    margin-bottom: 10px; } 
  #software .software-items img {
    max-width: 80%; }
  #project .project-item-img{
    width: 70%;
    margin: 30px auto 0 auto; }
  #project .project-item-info {
    margin-top: 50px; }   
  #project .project-item-info img {
    width:350px;
    margin-left: 15px; }
  #project .project-item-info p {
    margin-left: 30px; }
  .btn-pe {
    margin-left: 30px;
    margin-bottom: 50px; }
  #team .single-team {
    margin-bottom: 10px;}
}

/* Small screens ----------- */
@media only screen and (max-width: 768px) {
  .navbar-expand-md .navbar-brand, .navbar-expand-md .navbar-toggler {
    margin: 6px 15px; }
  .bg-inverse {
    background:linear-gradient(95deg, #2250bd 40%, #478dff 100%) !important;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1); }
  .navbar {
    padding: 5px; }
  .navbar-brand img {
    width: 100px; } 
  .hero-area .contents {
    padding: 10px  0 150px; }
  .hero-area .contents h2 {
    font-size: 25px;
    line-height: normal; }
  .hero-area .contents p {
    font-size: 14px; }
  .section-header .section-title  {
    font-size: 25px;}
  .section-header .desc-text p{
    font-size: 14px;}
  .about .about-item-info h3{
    font-size: 25px;}
  .about .about-item-info p{
    font-size: 14px;}
  .about .about-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;}
  #software .software-items img {
    max-width: 50%; }
  #feat .feat-item  {
    margin: 0 10px 10px 10px;}
  #services .services-item {
    margin: 0 10px 10px 10px;} 
  #project {
    padding-top: 30px;
    padding-bottom: 50px;}
  #project .project-item-img{
    width: 50%;
    margin: 30px auto 0 auto;}
  #project .project-item-info {
    margin-top: 50px;}   
  #project .project-item-info img {
    width:300px;
    margin-left: 15px;}
  #project .project-item-info p {
    margin-left: 30px;}
  .btn-pe {
    margin-left: 30px;
    margin-bottom: 50px;}
  #team .single-team {
    margin-bottom: 10px;}
  #team .single-team .team-details h5 {
      font-size: 20px}
  #team .single-team .team-details p {
      font-size: 14px;}
  #collaborations {
    padding-top: 30px;
    padding-bottom: 50px;}
  #contact{
    padding-top: 30px;
    padding-bottom: 50px;}
  #contact .contact-img{
    display:none;}
}

/* Phone screens (landscape) ----------- */
@media only screen and (max-width: 568px) {
  .hero-area .intro-img{
    display:none; }
  .hero-area .contents {
    padding: 150px  0 100px; }
  .about .about-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 80%;}
  #services .services-item h4 {
    font-size: 16px;
    }
  #services .services-item p {
    font-size: 12px; }
  #software .software-items img {
    max-width: 30%; }
  #software .software-items p {
    font-size: 12px; }
  #project .project-item-img{
    width: 70%;
    margin: 30px auto 0 auto;}
  #project .project-item-info {
    margin-top: 50px;}   
  #project .project-item-info img {
    width:180px;
    margin-left: 25px;}
  #project .project-item-info p {
    margin-left: 30px;
    font-size: 12px;}
  #team .single-team .team-details h5 {
    font-size: 16px; }
  #team .single-team .team-details p {
    font-size: 12px;}
  #team .single-team .team-details {
    padding: 10px 0px 0px 0px;
    position: relative;
    min-height: 100px;
    }
  #team .single-team img {
    width: 40%;}
  }

/* Phone screens (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .hero-area .contents {
    padding: 150px  0 100px; }
  .section-header .section-title  {
    font-size: 20px; }
  .section-header .desc-text p{
    font-size: 12px; }
  .about .about-item-info h3{
    font-size: 20px; }
  .about .about-item-info p{
    font-size: 12px; }
  #services .services-item h4 {
    font-size: 16px; }
  #services .services-item p {
    font-size: 12px; }
  #software .software-items p {
    font-size: 12px; }
  #project .project-item-img{
    width: 70%;
    margin: 30px auto 0 auto;}
  #project .project-item-info {
    margin-top: 50px;}   
  #project .project-item-info img {
    width:180px;
    margin-left: 25px;}
  #project .project-item-info p {
    margin-left: 30px;
    font-size: 12px;}
  #team .single-team .team-details h5 {
    font-size: 16px; }
  #team .single-team .team-details p {
    font-size: 12px;}
  #team .single-team .team-details {
    padding: 10px 0px 0px 0px;
    position: relative;
    min-height: 100px;
    }
}